<link href="/assets/narrow-jumbotron.css" rel="stylesheet">

    <!-- Carousel
    ================================================== -->

<div class="row">
	<br>
	<br>
	<div id="banner_large">
		  <%= image_tag("/assets/portfolio_banner_3.png", :width => "100%") %>
	</div>
	<div id="banner_small" hidden="true">
		  <%= image_tag("/assets/portfolio_banner_3_mobile_2.png", :width => "100%") %>
	</div>
</div>

<div class="container padded_container">	  
	<div class="row marketing">
		<div class="col-lg-3 center">
		  	 <%= image_tag("/assets/icon_screen.png", :class => "landing_page_icons") %>
	  	</div>
        <div class="col-lg-9">
          	<h4><%= link_to "Web Development", "/web_development"%></h4>
          	<p>Greg's passion is for building great applications.  He has created web crawlers, API's, e-commerce solutions, custom photo rendering algorithms and fully customized web solutions.  His skills and interests include developing and designing applications using Ruby, Ruby on Rails, Javascript, jQuery, HTML5, CSS3 and the best modern design practices.</p>
		 	 </br>
        </div>
	</div>

	<div class="row marketing">
		<div class="col-lg-3 center">
		  	 <%= image_tag("/assets/icon_phone.png", :class => "landing_page_icons") %>
	  	</div>
        <div class="col-lg-9">
          <h4><%= link_to "Mobile Development", "/mobile_development"%></h4>
          <p>With the power of his iPhone 5s in his pocket Greg naturally wanted to build iOS applications.  Greg's capabilities include building everything from games utilizing the power of SpriteKit to location based data hungry API backed apps with robust backend servers.</p>
<!--		  </br><p class="text-center"><a class="btn btn-default" href="/mobile_development" role="button">Mobile Projects &raquo;</a></p> -->
		  </br>
        </div>
	</div>
</div> <!-- /container -->	
	
 
	
	  
<div class="row">
      <div class="col-lg-12 center">
		  <h1 class="colorize_header">{ SKILLS }</h1>
        <%= image_tag("/assets/code_desk_with_camera.png", :width => "100%") %>
      </div><!-- /.col-lg-12 -->
      <div id="skills_mobile_list" hidden="true" class="col-lg-12 center">
      		<br>
			<br>
		  <p>
		   	<button type="button" class="btn btn-primary btn-sm">Ruby</button>
		  </p>
		  <p>
		   	<button type="button" class="btn btn-primary btn-sm">Ruby on Rails</button>
		  </p>
		  <p>
		   	<button type="button" class="btn btn-primary btn-sm">jQuery</button>
		  </p>
		  <p>
		   	<button type="button" class="btn btn-primary btn-sm">Javascript</button>
		  </p>
		  <p>
		   	<button type="button" class="btn btn-primary btn-sm">HTML5</button>
		  </p>
		  <p>
		   	<button type="button" class="btn btn-primary btn-sm">CSS3</button>
		  </p>
		  <p>
		   	<button type="button" class="btn btn-primary btn-sm">iOS</button>
		  </p>
		  <p>
		   	<button type="button" class="btn btn-primary btn-sm">Objective-C</button>
		  </p>
		  <p>
		   	<button type="button" class="btn btn-primary btn-sm">JSON API's</button>
		  </p>
		  <p>
		   	<button type="button" class="btn btn-primary btn-sm">Heroku</button>
		  </p>
		  <p>
		   	<button type="button" class="btn btn-primary btn-sm">PostgreSQL</button>
		  </p>
	  </div><!-- /.col-lg-12 -->
	  
</div><!-- /.row -->
	  
	  
<div class="container padded_container">	  
	<div class="row marketing">
		<div class="col-lg-3 center">
		  	 <%= image_tag("/assets/icon_camera.png", :class => "landing_page_icons") %>
	  	</div>
        <div class="col-lg-9">
          <h4><%= link_to "Still Photography", "/still_photography"%></h4>
          <p>Whenever Greg sees something incredible he has to capture it!  He has been passionate about photography and honing his skills for years.  His interests include landscape, long exposure, and product photography.  He is well versed in pohotoshop, compositing and chroma-key (i.e. green screen) photography.</p>
		  </br>
        </div>
	</div>
		
		
	<div class="row marketing">
		<div class="col-lg-3 center">
		  	 <%= image_tag("/assets/icon_360.png", :class => "landing_page_icons") %>
	  	</div>
        <div class="col-lg-9">
          <h4><%= link_to "360° Virtual Photography", "/virtual_photography"%></h4>
          <p>Greg has recently become enamored with 360° virtual images. To create 360° images Greg utilizes special lenses and equipment to capture multiple images from the location.  The editing process invloves taking these multiple images then stitching and compositing them together on a spherical plane and rendering them in a 360 viewer. It is a perfect blend of his passions for technology and photography. </p>
        </div>
	</div>
</div> <!-- /container -->

  	 
	 
<div class="row">
      <div class="col-lg-12 center">
		  <h1 id="projects_banner" class="colorize_header">{ RECENT PROJECTS }</h1>
		  <div class="container">	  
        	  
			  <br>
			  <br>
			  <br>
			  <br>
		      <div class="row">
		          
		        <div class="col-lg-6">
					<a href="/mobile_development#swipe" class="thumbnail">
					    <div class="">
						  <%= image_tag("/assets/thumbnails/swipe.png") %>
					      <div class="caption">
					        <h3>Swipe</h3>
					      </div>
					    </div>
					</a>
		        </div>
		        <div class="col-lg-6">
					<a href="/mobile_development#dottly" class="thumbnail">
					    <div class="">
						  <%= image_tag("/assets/thumbnails/dottly.png") %>
					      <div class="caption">
					        <h3>Dottly.</h3>
					      </div>
					    </div>
					</a>
		        </div>
			</div> <!-- row -->
			
		      <div class="row">
		          
		        <div class="col-lg-6">
					<a href="/web_development#buildakini" class="thumbnail">
					    <div class="">
						  <%= image_tag("/assets/thumbnails/buildakini.png", :width => "100%") %>
					      <div class="caption">
					        <!-- <h3>Build A Kini</h3> -->
					      </div>
					    </div>
					</a>
		        </div>
		        <div class="col-lg-6">
					<a href="/web_development#casadebalboa" class="thumbnail">
					    <div class="">
						  <%= image_tag("/assets/thumbnails/casadebalboa.png") %>
					      <div class="caption">
					        <!-- <h3>Casa de Balboa</h3> -->
					      </div>
					    </div>
					</a>
		        </div>
			</div> <!-- row -->
			
			
		      <div class="row">
		          
		        <div class="col-lg-12 center">
					<a href="/web_development#360virtual" class="thumbnail">
					    <div class="">
						  <p class="virtual">360Virtual</p>
					      <div class="caption">
					        <!-- <h3>Build A Kini</h3> -->
					      </div>
					    </div>
					</a>
		        </div>
			</div> <!-- row -->
				
				<!-- <div class="row">
				  <div class="col-xs-4 col-md-3">
				    <a href="#" class="thumbnail">
				      <img data-src="holder.js/100%x180" alt="...">
				    </a>
				  </div>
				  ...
				</div> -->
					
					<!-- <div class="row">
					  <div class="col-sm-6 col-md-4">
					    <div class="thumbnail">
					      <img data-src="holder.js/300x300" alt="...">
					      <div class="caption">
					        <h3>Thumbnail label</h3>
					        <p>...</p>
					        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
					      </div>
					    </div>
					  </div>
					</div> -->
				
		      </div>
			  
			  
			  
			  
			  
			  
			  
			</div> <!-- /container -->
      </div><!-- /.col-lg-12 -->
</div><!-- /.row -->