    </br>
	</br>
	</br>
	</br>
	</br>
	</br>
	
	<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->
 
      <div class="row featurette">
        <div class="col-md-4">
          <h3 class="featurette-heading">Dottly.</br><span class="text-muted">Native iOS Game</span></h3>
		  <!-- <h4><%= link_to "DotBotApp.com", "http://www.dotbotapp.com", :target => "blank" %></h4> -->
          <p>Dottly is a brand new game that pits your mental prowess, finger stamina, and visual acuity against one of the mightiest of geometrical objects, Dots. That’s right Dots. Are you up for the challenge? Or are you wimping out now? If you're of the wimpy sort consider yourself already bested by the simple Dot!</p>
		  
		  <br>
		  <p><strong>This version comes with two game modes, Scatter and Classic:</strong></p>

		  <p><strong>Scatter Mode</strong> - Get all 50 dots in as quick of time as possible. Touch each dot in order starting from dot #1. DO NOT go out of order and DO NOT touch the white background.</p>

		  <p><strong>Classic mode</strong> - Get as many dots as you can in 30 seconds. Touch a dot and a new one appears instantly somewhere else on the screen. DO NOT touch the white background.</p>
		  <br>
		  <a href="https://itunes.apple.com/us/app/dot-bot/id895544643?mt=8&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}"></a>
		  <br><br>
		  <dl>
		    <dt>Built with</dt>
		    <dd>Objective-C and The Mighty Dot</dd>
		  </dl>
		  
        </div>
		<div class="col-md-8 text-center">
			<%= image_tag("/assets/dottly.png", :width => "40%") %>
		</div>
      </div>
	  
	  </br></br>
	  <hr class="featurette-divider">
	  </br></br>
	  
	  
	  
      <div class="row featurette">
        <div class="col-md-4">
          <h3 class="featurette-heading">Swipe</br><span class="text-muted">Native iOS Game</span></h3>
		  <!-- <h4><%= link_to "DotBotApp.com", "http://www.dotbotapp.com", :target => "blank" %></h4> -->
          <p>Swipe is an addictive arcade game about swiping arrows. As the arrows move down the screen swipe them away before they get to the bottom. Reach higher levels and achievements as the speed of the game increases!</p>
		  
		  <br>
		  <a href="https://itunes.apple.com/us/app/dot-bot/id895544643?mt=8&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}"></a>
		  <br><br>
		  <dl>
		    <dt>Built with</dt>
		    <dd>Objective-C, SpritKit, Game Center & iAd</dd>
		  </dl>
		  
        </div>
		<div class="col-md-8 text-center">
			<%= image_tag("/assets/swipe.png", :width => "40%") %>
		</div>
      </div>
	  
	  </br></br>
	  <hr class="featurette-divider">
	  </br></br>
	  
	  
		

      <div class="row featurette">
        <div class="col-md-4">
          <h3 class="featurette-heading">Project Bandit (codeName)</br><span class="text-muted">Location based native ios app</span></h3>
		  <h4><%= link_to "Currently Under Development", "#"%></h4>
          <p>Most concepts and ideas about this project are currently hush hush.  But we can tell you Greg is developing a location based native iOS application powered with a Ruby on Rails backend.  The backend will serve two primary tasks manage the API for mobile devices and present a web application that complements the mobile app.</p>
		  
		  </br>
		  <dl>
		    <dt>Built with</dt>
		    <dd>Objective-C, Ruby, Ruby on Rails, PostgreSQL, Postgis, Heroku</dd>
		  </dl>
        </div>
		<div class="col-md-8 text-center">
			<%= image_tag("/assets/project_bandit.png", :width => "40%") %>
		</div>
      </div>
	  
</div><!-- /.container -->