
    <div class="container marketing">

      <!-- START THE FEATURETTES -->

	  
      <div id="moxy" class="row featurette portfolio_row">
        <div class="col-md-4">
          <h3 class="featurette-heading">MOXY</br><span class="text-muted">Mobile App Backend, API, Admin Dashboard</span></h3>
		  <h4><%= link_to "MoxyApp.com", "http://www.moxyapp.com", :target => "new" %></h4>
          <p >Moxy is a new way to communicate with friends, family and the world.  Moxy users leave messages at real world locations for others to pick up - they will receive your message when they are nearby it. You can also share with the world and let others discover your message.</p>
		  <p>Greg built a robust backend complete with an admin panel, analytics, RGEO support and JSON Api's to communicate with and manage native iOS and Android clients.</p>
			  
		  </br>
		  <dl>
		    <dt></dt>
		    <dd>Graphic Design, Ruby on Rails, JSON, PostGIS, PostgreSQL, Heroku, AWS, Twilio</dd>
		  </dl>
        </div>
		<div class="col-md-8  text-center">
			<img src="/assets/moxyapp_screenshot.png" class="web_screenshot">
		</div>
      </div>
	  
	  
	  </br></br>
	  <hr class="featurette-divider">
	  </br></br>
	  
	  
      <div id="movedocs" class="row featurette portfolio_row">
        <div class="col-md-4">
          <h3 class="featurette-heading">Movedocs </br><span class="text-muted"></span></h3>
		  <h4><%= link_to "MoveDocs.com", "http://movedocs-demo.herokuapp.com", :target => "new"  %></h4>
          <p>MoveDocs is an online personal injury management platform for lawyers and medical providers.  The service is unique 'one stop-shop' offering both types of users full service features allowing them to track, manage and automate the client's case and communications.  Greg completely restructured and re-designed the site, making it more effective conveying it's message, information and conversions.</p>
		  </br>
		  <dl>
		    <dt></dt>
		    <dd>HTML5, CSS, Javascript, jQuery, Responsive Layout, Graphical Design, Custom Video Editing</dd>
		  </dl>
        </div>
		<div class="col-md-8 text-center">
			<img src="/assets/movedocs-screenshot.jpg" class="web_screenshot">
		</div>
      </div>
	  
	  </br></br>
	  <hr class="featurette-divider">
	  </br></br>
	  
	  
	  
	  
      <div id="360virtual" class="row featurette portfolio_row">
        <div class="col-md-4">
          <h3 class="featurette-heading">360Virtual </br><span class="text-muted">Virtual Tour Photography</span></h3>
		  <h4><%= link_to "360Virtual.Photography", "http://www.360virtual.photography", :target => "new" %></h4>
          <p >Virtual tours are a stunning way to differentiate your business.  In many industries such as real estate they have become a modern necessity.  This site serves as the online portal to connect clients to 360Virtual photographers in the greater Los Angeles, Orange County, and San Diego Areas</p>
		  
		  </br>
		  <dl>
		    <dt></dt>
		    <dd>Graphic Design, Web Design, Ruby, Ruby on Rails, HTML, CSS, 360° Virtual Photography, Search Engine Optimization</dd>
		  </dl>
        </div>
		<div class="col-md-8  text-center">
			<img src="/assets/virtual_tour_screenshot.png" class="web_screenshot">
		</div>
      </div>
	  
	  
	  </br></br>
	  <hr class="featurette-divider">
	  </br></br>
		
	  
      <div id="canyon_medical" class="row featurette portfolio_row">
        <div class="col-md-4">
          <h3 class="featurette-heading">Canyon Medical Billing </br><span class="text-muted"></span></h3>
		  <h4><%= link_to "CanyonMedicalBilling.com", "http://www.canyonmedicalbilling.com", :target => "new"  %></h4>
          <p>Canyon Medical Billing has a unique service that helps offer finiancing, while the claims process is ongoing for those injured in an accident, so that the vicitims can receive the care they need immediately. Their webiste however has long been overdue for a facelift.  Greg rebranded the site, bringing new energy and a level of professionalism that matches the services they provide.</p>
		  
		  </br>
		  <dl>
		    <dt></dt>
		    <dd>HTML5, CSS, Javascript, jQuery, Responsive Layout, Graphical Design</dd>
		  </dl>
        </div>
		<div class="col-md-8 text-center">
			<img src="/assets/canyon_webpage.png" class="web_screenshot">
		</div>
      </div>
	  
	  </br></br>
	  <hr class="featurette-divider">
	  </br></br>
	  
	  
	  
      <div id="buildakini" class="row featurette portfolio_row">
        <div class="col-md-4">
          <h3 class="featurette-heading">Build A Kini </br><span class="text-muted">Custom Swimwear</span></h3>
		  <h4><%= link_to "BuildAKini.com", "http://www.buildakini.com", :target => "new"  %></h4>
          <p >Utilizing the Ruby on Rails framework Greg built this site from the ground up for Fashion Designer Jacqueline Coca.  The company is on a mission to change the way women purchase their swimwear.  The site gives users the ability to customize every component of their swimwear, one click at a time, and the application instantly displays the composited design with real images (allowing users to realize their concepts). Greg created prioprietary customization software specifically for this site to achieve the desired effects.</p>
		  
		  </br>
		  <dl>
		    <dt></dt>
		    <dd>HTML, CSS, Ruby, Ruby on Rails, Javascript, jQuery, Responsive Layout, Product Photography, Heroku</dd>
		  </dl>
        </div>
		<div class="col-md-8 text-center">
			<img src="/assets/buildakini.png" class="web_screenshot">
		</div>
      </div>
	  
	  </br></br>
	  <hr class="featurette-divider">
	  </br></br>
	  
	  
	  
      <div id="casadebalboa" class="row featurette portfolio_row">
        <div class="col-md-4">
          <h3 class="featurette-heading">Casa de Balboa </br><span class="text-muted">Vacation Rentals in Newport Beach</span></h3>
		  <h4><%= link_to "CasadeBalboa.com", "http://www.casadebalboa.com", :target => "new" %></h4>
          <p >This Vacation Rental website is built upon a very robust reservation software system.  Greg transitioned this company from it's legacied web 1.0 version and lead the development of the new site enhanced with an integrated reservation system, CRM system, online bookings and more.</p>
		  
		  </br>
		  <dl>
		    <dt></dt>
		    <dd>Graphic Design, Web Design, HTML, CSS, 360° Virtual Photography, Search Engine Optimization</dd>
		  </dl>
        </div>
		<div class="col-md-8  text-center">
			<img src="/assets/casa_de_balboa_web_design.png" class="web_screenshot">
		</div>
      </div>
	  
	  </br></br>

      <!-- /END THE FEATURETTES -->


      

    </div><!-- /.container -->