<%# add navigation links to this file %>
<!-- <li class="brand_logo"><%= link_to image_tag("/assets/logo.jpg", :width => "200%"), "/" %></li> -->
<li class="<%= "active" if request.fullpath == "/web-development"  %> nav_link"><%= link_to "web", "/web-development" %></li>
<li class="<%= "active" if request.fullpath == "/mobile-development"  %> nav_link"><%= link_to "mobile", "/mobile-development" %></li>
<li class="<%= "active" if request.fullpath == "/still-photography"  %> nav_link"><%= link_to "photograpghy", "/still-photography" %></li>
<li class="<%= "active" if request.fullpath == "/virtual-photography"  %> nav_link"><%= link_to "360°", "/virtual-photography" %></li>
<li class="<%= "active" if request.fullpath == "/contact"  %> nav_link"><%= link_to "contact", "/contact" %></li>