<%# add navigation links to this file %>
<li class="<%= "active" if request.fullpath == "/"  %> nav_link"><%= link_to "Gregory Murray", "/" %></li>
<li class="<%= "active" if request.fullpath == "/web_development"  %> nav_link"><%= link_to "web", "/web_development" %></li>
<li class="<%= "active" if request.fullpath == "/mobile_development"  %> nav_link"><%= link_to "mobile", "/mobile_development" %></li>
<li class="<%= "active" if request.fullpath == "/still_photography"  %> nav_link"><%= link_to "photograpghy", "/still_photography" %></li>
<li class="<%= "active" if request.fullpath == "/virtual_photography"  %> nav_link"><%= link_to "360°", "/virtual_photography" %></li>
<!-- <li class="<%= "active" if request.fullpath == "/contacts"  %> nav_link"><%= link_to "about", "" %></li> -->

