<%# add navigation links to this file %>
<li class="<%= "active" if request.fullpath == "/contacts"  %>"><%= link_to "360° Virtual Tours", "" %></li>
<li class="<%= "active" if request.fullpath == "/messages"  %>"><%= link_to "Tech Up", "" %></li>
<li class="<%= "active" if request.fullpath == "/contacts"  %>"><%= link_to "Search Engine Optimization", "" %></li>
<li class="<%= "active" if request.fullpath == "/contacts"  %>"><%= link_to "Web Design", "" %></li>