<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hi I'm Greg, an Application Developer in Southern California" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Drop Pop" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<link rel="shortcut icon" href="favicon.ico"/>
    <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
	<div id="portfolio_logo">
		 <%= link_to image_tag("/assets/logo.jpg", :width => "50%"), "/" %>
	</div>
    <main role="main">
		
		
       <%= render 'layouts/messages' %>
       <%= yield %>
	   <%= render 'layouts/footer' %>
    </main>
	
  </body>
</html>
